<!DOCTYPE html>
<html>
    <head>
        <style>
            table.one {
                border-collapse: separate;
                border-spacing: 15px;
                caption-side: top;
                width: 300px;
                border: 3px dashed blue;
            }
            table.two {
                border-collapse: collapse;
                border-spacing: 10px;
                caption-side: bottom;
                width: 250px;
                border: 2px solid blue;
            }
            th {
                color: white;  
                background-color: gray;    
            }
        </style>
    </head>
    <body>
        <table class="one">
            <caption> Table 1: Fruits </caption>
            <tr><th> Names </th></tr>
            <tr><td> Apple </td></tr>
            <tr><td> Mango </td></tr>
        </table>
        <br/>
        <table class="two">
            <caption> Table 2: Vegetables </caption>
            <tr><th> Names </th></tr>
            <tr><td> Squash </td></tr>
            <tr><td> Cucumber </td></tr>
        </table> 
    </body>
</html>