* {
    box-sizing: border-box;
}
.header, .footer {
    background-color:  #adad85;
    color: white;
    padding: 15px;
    text-align: center;
}
.column {
    float: right;
    padding: 15px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.menu {
    width: 25%;
}
.content {
    width: 75%;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 8px;
    background-color: #adad85;
    color: #ffffff;
}
.menu li:hover {
    background-color: #1B4F72;
}
img {
    float: left;
    width:200px;
    height:200px;
    margin-right:15px;
}
 caption {
    font-size: 180%;
}
td {
   text-align: justify;
  }
